#banner{
  width: 100%;
  background-color: red;
}

#banner-image{
  width: 100%;
  height: 80vh;
}

#banner-text{
  position: absolute;
  left: 5%;
  bottom: 20%;
  font-size: 60px;
  color: white;
}