#how-it-works-container{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 85vh;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(23, 50, 23);
    border: grey solid 1px;
}

#how-it-works-title{
    font-size: 40px;
    padding-top: 5%;
    text-align: center;
    margin-bottom: 2%;;
}

#how-it-works-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#how-it-works-left{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.left-item{
    background-color: rgb(231, 241, 232);
    margin-bottom: 5%;
    width: 100%;
    height: 20vh;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
}

#how-it-works-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    align-items: center;
}

.right-item{
    height: auto;
    width: 100%;
}

.right-item img{
    width: 100%;
}
