#how-it-works-component{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(23, 50, 23);
    background-color: #f9f4e9;
    ;
}

#how-it-works-title{
    font-size: 40px;
    padding-top: 5%;
    text-align: center;
    margin-bottom: 4%;
}

#how-it-works-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#how-it-works-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 990px;
    margin-bottom: 5%;
    align-items: center;
}

.left-item{
    margin-bottom: 5%;
    width: 40%;
    height: 20vh;
    text-align: center;
}

.right-item{
    height: auto;
    width: 30%;
}

.left-item img{
    width: 100%;
}
