#how-it-works-component{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(23, 50, 23);
    background-color: #f9f4e9;
    ;
}

#how-it-works-title{
    font-size: 40px;
    padding-top: 5%;
    text-align: center;
    margin-bottom: 4%;
}

#how-it-works-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#how-it-works-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 990px;
    margin-bottom: 5%;
    align-items: center;
}

.left-item{
    margin-bottom: 5%;
    width: 40%;
    height: 20vh;
    text-align: center;
}

.right-item, .right-item-2{
    height: auto;
    width: 30%;
}

.left-item img{
    width: 100%;
}

@media (max-width: 866px){
    #how-it-works-component{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
        color: rgb(23, 50, 23);
        background-color: #f9f4e9;
        ;
    }
    
    #how-it-works-title{
        font-size: 40px;
        padding-top: 10%;
        text-align: center;
        margin-bottom: 8%;
    }
    
    #how-it-works-elements{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    
    #how-it-works-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80vw;
        align-items: center;
    }
    
    .left-item{
        width: 70%;
        text-align: center;
        width: 40vh;
    }
    
    .right-item{
        height: auto;
        width: 70%;
        margin-top: 3vh;
    }

    .right-item h2 {
        margin: 0px;
    }

    .right-item-2 h2 {
        margin: 0px;
    }
    
    .right-item-2{
        height: auto;
        width: 70%;
        margin-top: 20vh;
    }
    .left-item img{
        width: 100%;
    }
}