#insurance-container{
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-around;
  }
  
  #left-insurance-container{
    width: 180px;
    font-size: 14px;
    color: grey;
    animation: slide-up 1.2s ease-in-out;
    animation-fill-mode: both;
    opacity: 1;
    order: 0;
  }

  #right-insurance-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-between;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .insurance-logo{
    width: 80px;
    align-items: center;
  }
  
  .insurance-logo img{
    max-width: 100%;
    height: auto;
    filter: grayscale(1) 
  }

  .insurance-logo {
    animation: slide-up 1.5s ease-in-out;
    animation-fill-mode: both;
    opacity: 0;
  }
  
  .insurance-logo:nth-child(1) {
    animation-delay: 0.2s;
    order: 1
  }
  
  .insurance-logo:nth-child(2) {
    animation-delay: .4s;
    order: 2
  }
  
  .insurance-logo:nth-child(3) {
    animation-delay: .6s;
    order: 3
  }
  
  .insurance-logo:nth-child(4) {
    animation-delay: .8s;
    order: 4
  }
  
  .insurance-logo:nth-child(5) {
    animation-delay: 1.0s;
    order: 5
  }

  
  @keyframes slide-up {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 866px){
    #insurance-container{
      display: flex;
      flex-direction: column;  
      align-items: center;
      padding: 20px 40px;
      justify-content: center;
      line-height: 1.7;
    }
    
    #left-insurance-container{
      font-size: 14px;
      color: #69616166;
      animation: slide-up 1.2s ease-in-out;
      animation-fill-mode: both;
      opacity: 1;
      order: 0;
      width: 100%;
      text-align: center;
    }

    #right-insurance-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 400px;
      align-items: center;
      justify-content: center;
    }

    .insurance-logo{
      width: 80px;
      align-items: center;
      margin-right: 40px;
      margin-top: 10px;
    }
  
    @keyframes slide-up {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }