#footer{
  border: grey solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer-top, #footer-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
